<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit Your Listing</h3>
    <form
      action="/listings/<%= editListing._id %>?_method=PUT"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          value="<%= editListing.title %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">title looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required>
<%= editListing.description %></textarea
        >
        <div class="invalid-feedback">please enter a short description</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <input
          type="text"
          name="listing[image]"
          value="<%= editListing.image %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">please enter a valid link</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            value="<%= editListing.price %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">please enter valid price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            value="<%= editListing.country %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">please enter valid country name</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          value="<%= editListing.location %>"
          class="form-control"
          required
        />
        <div class="invalid-feedback">please enter valid location</div>
      </div>
      <button class="btn btn-dark edit-btn mt-3">Edit</button>
      <br /><br /><br />
    </form>
  </div>
</div>
