<% layout("layouts/boilerplate.ejs") %>
<h3>All listings</h3>
<!-- <form method="GET" action="/listings/new">
    <button>Create New Listing</button>
  </form> -->
<div class="row row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-1 g-4">
  <% for (let list of allListings){ %>
  <div class="col">
    <a href="listings/<%= list._id %>" class="listing-link">
      <div class="card listing-card">
        <img
          src="<%= list.image %>"
          class="card-img-top"
          alt="listing-image"
          style="height: 20rem"
        />
        <div class="card-body">
          <h5 class="card-title">
            <b><%= list.title %></b>
            <br />
            &#8360; <%= list.price ? list.price.toLocaleString("en-PK") : "N/A"
            %> / night
          </h5>
          <p class="card-text"><%= list.description %></p>
        </div>
      </div>
    </a>
  </div>
  <%}%>
</div>
