<% layout("/layouts/boilerplate.ejs") %>
<div class="container-fluid mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <h3 class="mb-4 text-center"><%= listing.title %></h3>
      <div class="card listing-card">
        <img
          src="<%= listing.image %>"
          class="card-img-top img-fluid show-image"
          alt="Listing Image"
        />
        <div class="card-body">
          <p class="card-text">
            <strong>Description:</strong> <%= listing.description %>
          </p>
          <p class="card-text">
            <strong>Price:</strong>
            &#8360; <%= listing.price ? listing.price.toLocaleString("en-PK") :
            "N/A" %> / night
          </p>
          <p class="card-text">
            <strong>Location:</strong> <%= listing.location %>, <%=
            listing.country %>
          </p>
        </div>
      </div>

      <div
        class="d-flex justify-content-between align-items-center mt-4 flex-wrap"
      >
        <a
          href="/listings/<%= listing._id %>/edit"
          class="btn btn-primary mb-2"
        >
          Edit Your Listing
        </a>
        <form
          method="POST"
          action="/listings/<%= listing._id %>?_method=DELETE"
        >
          <button type="submit" class="btn btn-danger mb-2">
            Delete This Listing
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <hr />
      <h4 class="text-center">Leave a review</h4>
      <form
        action="/listings/<%= listing._id %>/reviews"
        method="POST"
        novalidate
        class="needs-validation"
      >
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <input
            type="range"
            min="1"
            max="5"
            name="review[rating]"
            id="rating"
            class="form-range"
          />
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea
            name="review[comment]"
            id="comment"
            cols="30"
            rows="4"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please add some comment</div>
        </div>
        <button class="btn btn-outline-dark w-100">Submit</button>
      </form>
      <hr />

      <p><b>All reviews</b></p>
      <div class="row">
        <% for(review of listing.reviews) { %>
        <div class="card col-5 ms-3 mb-3">
          <div class="card-body">
            <h5 class="card-title">No name</h5>
            <p class="card-text"><%= review.comment %></p>
            <p class="card-text"><%= review.rating %> Stars</p>
            <form
              action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
              method="POST"
              class="mb-3"
            >
              <button class="btn btn-sm btn-dark">Delete</button>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
