<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wahid Project</title>
  </head>
  <body>
    <h3>Listings details</h3>
    <ul>
      <li><%= listing.title %></li>
      <li><%= listing.description %></li>
      <li>&#8360; <%= listing.price.toLocaleString("en-PK") %></li>
      <li><%= listing.location %></li>
      <li><%= listing.country %></li>
    </ul>
    <br />
    <a href="/listings/<%= listing._id %>/edit"></a>
  </body>
</html>
